@import url("nav.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&family=Nunito:wght@600&display=swap');
.chart {
  max-width: 600px;
  max-height: 400px;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

:root {
	--blue: #0788d3;
	--grey: #999B9E;
	--middlegrey: #c3c3c3;
	--lightgrey: #F7F7F7;
	--green: #33D27B;
	--red: #DC3545;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 0;
  font-size: 18px;
  background: #f7f7f7;
  box-sizing: border-box;
}

ul, li, a {
  color: inherit;
  list-style: none;
  text-decoration: none;
  padding: 0px;
}


.page-content {

  background: #f0f0f7;
  padding: 120px 40px 120px 170px;
  min-height: calc(100vh - 240px);
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10,1fr);
  grid-gap: 40px;
  .page-content-header{
    & p{
      margin: 0 0 1rem 0;
      padding: 0;
    }
    display: flex;
    grid-column: 1/11;
    grid-row: 1/3;
    .page-content-title{
      font-size: 25px;
      & p {
        transform: scaleY(0.95);
      }
      padding-right: 2rem;
      .setting-link{
        color: #0788d3;
      }
    }
    .page-content-info{
      text-transform: uppercase;
      display: flex;
      flex-grow: 1;
      width: 30%;
      .call-recive{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        width: 50%;

        color: #818181;
        border-right: 1px solid black ;
        .call-recive-numbers{
          color: black;
          display: flex;
          align-items: center;
          & span:nth-child(1){
            font-size: 30px;
          }
        }
      }
      .take-in-charge{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        color: #818181;
        width: 50%;
        border-right: 1px solid black ;
        .take-in-charge-numbers{
          display: flex;
          align-items: center;
          color: black;
          & span:nth-child(1){
            font-size: 30px;
          }
        }
      }

    }
    .page-content-upload-btn{
      display: flex;
      justify-content: end;
      grid-column: 8/11;
      width: 20%;
      & button {
        cursor: pointer;
        height: 2rem;
        display: flex;
       align-items: center;
        padding: 0 2rem;
        border-radius: 5px;
        border: 1px solid black;
        background-color: transparent;
        font-family: "Nunito", sans-serif;
        font-size: 16px;
        & span{
          margin-right: 0.5rem;
        }
      }
    }
  }
  .page-content-grid{
    color: #818181;
    grid-column: 1/7;
    grid-row: 3/11;
    background-color: white;
    padding: 10px 50px 50px 50px;
    border-radius: 3px;
    border: none;
    &.myChart{
      height: 100%;
      width: 100%;
    }
  }
  .page-content-stats{
    & p{
      color: #818181;
    }
    padding: 10px 50px 50px 50px;
    grid-column: 7/11;
    grid-row: 3/11;
    background: white;
    border-radius: 3px;
    border: none;
    .title-page-content-stats{
      margin-bottom: 40px;
    }
    .line-stats{
      display: flex;
      flex-direction: column;
      font-size: 12px;
      .title-line-stats{
      }
      .first-line-stats  {
        width: 100%;
        display: flex;
        align-items: center;
       & span:nth-child(1){
         width: 50%;
         height: 0px;
         border: 0.3rem solid #0091b6;
         border-radius: 30px;
        }
        & span:nth-child(2){
          margin-left: 0.5rem;
        }

      }
      .second-line-stats  {
        width: 100%;
        display: flex;
        align-items: center;
        & span:nth-child(1){
          width: 96%;
          height: 0px;
          border: 0.3rem solid #fbb97d;
          border-radius: 30px;
        }
        & span:nth-child(2){
          margin-left: 0.5rem;
        }

      }
      .second-line-stats{

      }
    }
  }

  &.min-nav {
    padding: 120px 40px 120px 170px;
  }
}

.indicator-positive{
  color: #33D27B;
  position: relative;
  margin-left: 3rem;
  font-size: 20px;
}


.indicator-negative{
  color: #DC3545;
  position: relative;
  margin-left: 3rem;
  font-size: 20px;
}
.indicator-negative::before {
    content:'';
    width: 0;
    height: 0;
    position: absolute;
    top: 30%;
    left: -1.7rem;
    border-left: 0.7rem solid transparent;
    border-right: 0.7rem solid transparent;
    border-top: 0.7rem solid red;
}
.indicator-positive::before {
  content:'';
  width: 0;
  height: 0;
  position: absolute;
  top: 0.5rem;
  left: -1.7rem;
  border-left: 0.7rem solid transparent;
  border-right: 0.7rem solid transparent;
  border-bottom: 0.7rem solid green;
}
.register{
  display: flex;
  width: 100%;
  .register-form{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    & form{
      display: flex;
      flex-direction: column;
      & button{
        margin-top: 1rem;
      }
    }
  }
}
.login{
  display: flex;
  width: 100%;
  .login-form{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    & form{
      display: flex;
      flex-direction: column;
      & button{
        margin-top: 1rem;
      }
    }
  }

}
.other-choice{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  & p{
    margin: 1rem 0px;
  }
  & a{
    background-color: transparent;
  }
}
.login-register-button{
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #0788d3;

}
.flying-down-button{
  position: fixed;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: #0788d3;
  top: 90%;
  left: 50%;
  &:hover{
    cursor: pointer;
    background-color: #33D27B;
  }
}
.setting-content{
  padding: 120px 40px 120px 170px;
  .setting-form{
    display: flex;
    flex-direction: column;
  }
  .dealership-selection{
    display: flex;
    .detail-dealership-selection{
      display: flex;
      flex-direction: column;
      margin-right: 5rem;
    }
    .fast-dealership-selection{
      display: flex;
      flex-direction: column;
    }
  }
}



@media (max-width: 1024px) {

  .page-content {
    display: grid;

    .page-content-header {
      grid-column: 1/11;
      grid-row: 1/3;

      .page-content-title {
        grid-column: 1/5;
      }

      .page-content-info {
        grid-column: 5/9;

        .call-recive {
          .call-recive-numbers {
          }
        }

        .take-in-charge {
          .take-in-charge-numbers {
          }
        }
      }

      .page-content-upload-btn {
        grid-column: 9/11;

        & button {
          cursor: pointer;
        }
      }
    }

    .page-content-grid {
      grid-column: 1/7;
      grid-row: 3/11;
      background-color: #DC3545;
    }

    .page-content-stats {
      grid-column: 7/11;
      grid-row: 3/11;
      background-color: brown;
    }
  }
}
